*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
# /models  # 现在使用 LFS 管理大文件，不再忽略
app/src/main/assets/vosk-model-small-ko-0.22
# 忽略整个 assets 文件夹
app/src/main/assets/
/aars/build
/checkouts
.kotlin
app/.cxx

# Ignore CMake build files
app/.cxx/Debug/
app/.cxx/RelWithDebInfo/
app/.cxx/tools/

# Fastlane
fastlane/report.xml
fastlane/README.md
fastlane_config.txt
AI语音助手应用集成指南.pdf
# 忽略整个 AiVoiceRelease_202511 文件夹
AiVoiceRelease_202511/
AiVoiceRelease_202511.zip
